// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style_image {
	max-width: 100%
}
.span_title {
	text-shadow: #fdf2e4 0 1px 0;
	font-size:38px;
	color: #FB0810;
	margin: 0 0 0 0;
	font-weight:bold;

}
