
<div id="divNsGroupPageWrapper">
<div id="divNsGroupPageInnerWrapper" class="nsgroups_index"> <!-- class-media -->
<% if policy(NsGroup).destroy? %>
    <input id="forDelete" type="hidden" name="forDelete" value="true">
  <% else %>
    <input id="forDelete" type="hidden" name="forDelete" value="false">
  <% end %>

<div class="grid">

  <div class="col-11-20">  <!-- style="background:red" -->
    <div id="divNsGrpTitle">
      Notes for Non-Scheduled Groups
    </div>
  </div>

  <div class="col-9-20"> <!-- style="background:green" -->
    <form id="fNsGrpDate">
      <div>
        <h2>Set Up a Date and Group
          <input id="dt_NsGrp_g" type="text" />
        </h2>
      </div>
    </form>

    <!-- <div class="nsgroup_div_spacer1"></div> -->
    <div id="divSearchAndGrid">
      <form id="fNsGrpSearch">
        <input id="nsGrp_ID" type="text" />
        <div id="NsGrpSearchTitle"><h2>Group Search Criteria</h2></div>
        <div class="grid">
          <div class="col-1-2">
            <div >
              <label>Group</label>
              <input id="ftx_S_groupname" type="text" />
            </div>
          </div>
          <div class="col-1-2">
            <div >
              <label>Leader</label>
              <input id="ftx_S_leader" type="text" />
            </div>
          </div>
        </div>
        <input id="btnSubmit" type="submit" value="Search" />
      </form>
      <div id="divGrid"></div>
    </div>  

    <div id="divNsGrpNewEdit">
      <form id="fNsGrpNewEdit">
        <div><h2>Patient Data</h2></div>
        <div id="NsGrpsNewEditErrors"></div>
        <div class="field">
          <label for="slt_NsGrp_duration">Duration</label><span class="text-14-alert">*</span>
          <select id="slt_NsGrp_duration" name="duration"></select>
        </div>
        <div class="field">
          <label for="txt_NsGrp_group_name">Group Name</label><span class="text-14-alert">*</span>
          <input id="txt_NsGrp_group_name" name="groupname" type="text" />
        </div>
        <div class="field">
          <label for="txt_NsGrp_leader">Leader Name</label><span class="text-14-alert">*</span>
          <input id="txt_NsGrp_leader" name="leader" type="text" />
        </div>
        <div class="field">
          <label for="txt_NsGrp_group_site">Group Site</label><span class="text-14-alert">*</span>
          <input id="txt_NsGrp_group_site" name="groupsite" type="text" />
        </div>

        <div>
          <input id="btNsGrpNewSubmit" type="submit" value="x" />
          <input id="btNsGrpBack" type="button" value="Back" />
        </div>
      </form>
    </div>
  </div>

 
</div> <!-- <div class="grid"> Primary grid for whole page -->

</div> <!-- <div id="divNsGroupPageInnerWrapper"> -->
</div> <!-- <div id="divNsGroupPageWrapper"> -->




