<div id="divNsnTPageWrapper">
<div id="divNsnTPageInnerWrapper" align="center">

	<div id="div_NsnTTitle">
		Aggregate Values For Patient Non-Scheduled Notes
	</div>

	<div id="div_NsnT_uppercontainer">
		<form id="fNsnTsearch">
			<div id="div_NsnT_searchGrid" class="grid">
				<div class="col-1-2">
					<label for="dt_NsnT_after">Date: after</label>
					<input type="text" id="dt_NsnT_after" />
					<label for="dt_NsnT_before">before</label>
					<input type="text" id="dt_NsnT_before" />
				</div>
				<div class="col-1-2 align_right" >
					<select id="slt_NsnT_ward"></select>
					<select id="slt_NsnT_patient"></select>
				</div>
				
			</div>			
		</form> 
	</div>

	<div id="div_NsnT_lowercontainer" class="spacer_vertical_medium">
		<form id="fNsnTpat_info">
			
		</form>
	</div>


</div>  <!-- id="divNsnTPageInnerWrapper" -->
</div>  <!-- id="divNsnTPageWrapper" -->